body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1768px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:43px;
  width:1768px;
  height:1077px;
  color:#1E1E1E;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1768px;
  height:1077px;
}
#u1 {
  position:absolute;
  left:2px;
  top:530px;
  width:1764px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:1682px;
  top:51px;
  width:83px;
  height:75px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FF9900;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:75px;
}
#u3 {
  position:absolute;
  left:2px;
  top:16px;
  width:79px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:1517px;
  top:47px;
  width:113px;
  height:55px;
  font-size:18px;
  color:#FF9900;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:55px;
}
#u5 {
  position:absolute;
  left:2px;
  top:16px;
  width:109px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:1548px;
  top:106px;
  width:105px;
  height:55px;
  font-size:18px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:55px;
}
#u7 {
  position:absolute;
  left:2px;
  top:16px;
  width:101px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:1592px;
  top:164px;
  width:105px;
  height:55px;
  font-size:18px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:55px;
}
#u9 {
  position:absolute;
  left:2px;
  top:16px;
  width:101px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:1657px;
  top:220px;
  width:105px;
  height:55px;
  font-size:18px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:55px;
}
#u11 {
  position:absolute;
  left:2px;
  top:16px;
  width:101px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:1650px;
  top:1075px;
  width:113px;
  height:39px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF9900;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:39px;
}
#u13 {
  position:absolute;
  left:2px;
  top:8px;
  width:109px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:1650px;
  top:1012px;
  width:113px;
  height:39px;
  font-size:20px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:39px;
}
#u15 {
  position:absolute;
  left:2px;
  top:8px;
  width:109px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:1650px;
  top:959px;
  width:113px;
  height:39px;
  font-size:20px;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:39px;
}
#u17 {
  position:absolute;
  left:2px;
  top:8px;
  width:109px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:1647px;
  top:856px;
  width:118px;
  height:39px;
  font-size:20px;
  color:#FF9900;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:39px;
}
#u19 {
  position:absolute;
  left:2px;
  top:8px;
  width:114px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:1650px;
  top:907px;
  width:113px;
  height:39px;
  font-size:20px;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:39px;
}
#u21 {
  position:absolute;
  left:2px;
  top:8px;
  width:109px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:1px;
  top:1060px;
  width:50px;
  height:50px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u23 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_ann {
  position:absolute;
  left:44px;
  top:1056px;
  width:1px;
  height:1px;
}
#u24 {
  position:absolute;
  left:61px;
  top:1060px;
  width:113px;
  height:39px;
  font-size:20px;
  color:#0000CC;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:39px;
}
#u25 {
  position:absolute;
  left:2px;
  top:8px;
  width:109px;
  word-wrap:break-word;
}
