<FORM method="post" action="__URL__/add" enctype="multipart/form-data">
total_num：<INPUT type="text" name="total_num"><br/>
remain_num：<INPUT type="text" name="remain_num"><br/>
start_time：<INPUT type="text" name="start_time"><br/>
end_time：<INPUT type="text" name="end_time"><br/>
type：<INPUT type="text" name="type"><br/>
lon：<INPUT type="text" name="lon"><br/>
lat：<INPUT type="text" name="lat"><br/>
address：<INPUT type="text" name="address"><br/>
user_id：<INPUT type="text" name="user_id"><br/>
price：<INPUT type="text" name="price"><br/>
img：<INPUT type="file" name="img[]"><br/>
name：<INPUT type="text" name="name"><br/>

licence_img：<INPUT type="file" name="img[]"><br/>
legal_person：<INPUT type="text" name="legal_person"><br/>
legal_person_no：<INPUT type="text" name="legal_person_no"><br/>
id_img：<INPUT type="file" name="img[]"><br/>
area_code：<INPUT type="text" name="area_code"><br/>

<INPUT type="submit" value="提交">
</FORM>