/*css reset*/
body {
    font-family: "Microsoft YaHei", "SimHei", sans-serif;
    font-size: 62.5%;
}
/* for IE/Win */
html{
    height: 100%;
}
html>body {
    font-size: 10px;
    height: 100%;
}

/* for everything else */

/*字体边框等初始化*/

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
img {
    display: block;
}
address,caption,cite,code,dfn,th,var {
    font-weight: normal;
    font-style: normal;
}
ol,ul {
    list-style: none;
}
caption,th {
    text-align: left;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
}
q:before,q:after {
    content: '';
}
abbr,acronym {
    border: 0;
}
a {
    color: #343434;
    text-decoration: none;
}
a:hover {
    color: #b60a0a;
}
input{
    outline:medium;
}
/*清除浮动*/
.clearfix:after {
    content: " ";
    display: block;
    clear: both;
    height: 0;
}
.clearfix {
    zoom: 1;
}
/************************************/
body{
    font-family: "Microsoft YaHei",sans-serif;
    background-color: #333;
}
.show {
    display: block;
}
.hide {
    display: none;
}
/*旋转地球动画*/
#echarts-x-content{
    width: 100%;
    height: 100%;
}
.pt-page-2{
    position: relative;
    min-width:1360px;
}

/*左边部分*/
.left-container {
    padding-top: 10px;
    margin-left: 10px;
    height: 100%;
    min-height:650px !important;
}
.left-container section{
    background-color: rgba(6,72,72,0.5);
    margin-bottom:5px;
    border-radius: 5px;
}
.left-container .left-top{
    height:46.5%;
    position: relative;
}
.left-top-text {
    position: absolute;
    left: 5px;
    top: 5px;
    display: none;
}
.left-top-text p{
    color: #89F8E2;
    font-size: 14px;
}
#radar-chart {
    width: 100%;
    height: 100%;
    position: relative;
    top: 28px;
}
.left-container section.left-bottom{
    margin-bottom:0;
}
/*左侧中间位置*/
.left-mid{
    overflow: hidden;
    text-align: center;
    padding: 10px 0;
    height: 20%;
}
.left-mid p{
    color: #89F8E2;
    font-size: 14px;
    margin-bottom: 0;
}
.left-mid ul{
    margin-bottom:0;
    margin-top: 1px;
}
.left-mid ul li{
    max-width:74%;
    margin: 0 auto;
}
.left-bottom{
    height: 31%;
}
.left-bottom-text p{
    margin-bottom:0;
    color: #89F8E2;
    font-size:14px;
}
.left-bottom-text{
    position: relative;
    margin:5px 0 0 14px;
}
.left-bottom-text .weather{
    position: absolute;
    font-size: 24px;
    color: #FF6600;
    left: 72%;
    top: 24%;
}
.left-bottom-scroll{
    margin-top: 5px;
    height: 62%;
    overflow: hidden;
}
.left-bottom-scroll ul li {
    font-size: 14px;
    color: #89F8E2;
    max-width: 85%;
    margin: 0 auto;
}



/*中间车辆*/
.car-container {
    position: relative;
    margin-right:-10px;
    height: 100%;
    min-height: 650px !important;
}
.car-user{
    width: 330px;
    padding: 10px 10px 0;
    border-radius: 5px;
    margin-top:10px;
    background-color: rgba(6,72,72,0.5);
    position: absolute;
}
.car-user img{
    width: 34%;
    float: left;
}
.car-user ul{
    float: left;
    margin: 0 0 5px 30px;
}
.car-user ul p{
    font-size: 16px;
    color: #89F8E2;
    text-align: left;
    margin: 0;
}
.car-user ul p span i{
    color: #F9A700;
}
.car-charts {
    position: absolute;
    left: 62%;
    top: 48%;
}
.car-charts div{
    width: 150px;
    height: 150px;
    float: left;
}
#car-charts2{
    margin-left: -23px;
}
.car-content{
    margin-top: 208px;
    position: relative;
    left: -4%;
    bottom: 23px;
    height:46%;
}
#myCar {
    width: 660px;
    height: 90%;
    background-repeat: no-repeat;
    background-size: 100%;
}
.car-bottom {
    margin-top: -56px;
    position: relative;
    z-index: 1000;
    height: 31%;
}
.car-bottom-text{
    width: 65%;
    height: 100%;
    background-color: transparent;
    float: left;
    overflow: hidden;
}
#car-bottom-board {
    width: 34%;
    height: 100%;
    background-color: #fff;
    float: left;
}
.car-content-text{
    height: 90%;
    /*margin: 10px 0;*/
}
.car-content-text ul{
    margin: 10px auto;
}
.car-content-text li{
    color: #89F8E2;
    font-size: 14px;
    max-width: 90%;
    margin: 0 auto;
}
.car-list{
    position: absolute;
    left: 75%;
    top: -47%;
}
.car-list li{
    margin-bottom: 3px;
    padding: 3px;
}
.carListBack{
    background-color: #00FF00;
}
.car-list li p{
    font-size: 18px;
    color: #3C9700;
    margin: 0;
}
.resultList{
    font-size: 22px;
    color: #FF6600;
}
li.resultList p{
    padding-top: 5px;
    font-size: 24px;
    font-weight: bold;
    color: #FF6600;
}

/*右边部分*/
.right-container {
    padding-top: 10px;
    height: 100%;
    min-height: 650px;
}
.right-container section{
    background-color: rgba(6,72,72,0.5);
    border-radius: 5px;
}
.right-container .right-bottom h3 {
    float: left;
    padding: 12% 0 0 0;
    font-size: 20px;
    color: #89F8E2;
    text-align: center;
    margin: 0;
}
.right-container .right-bottom h3 span {
    font-size: 24px;
    color: #FF6600;
    padding-right: 10px;
}
.right-top{
    height: 67%;
    position: relative;
}
.right-top .progress{
    position: absolute;
    bottom: -20px;
    left:0;
    width: 100%;
    z-index: 1000;
    background-image: none !important;
    background-color: #ADADAD !important;
}
.right-top .progress .progress-bar-info{
    background-color: #007FA5 !important;
}
#right-top-map{
    width: 100%;
    height: 100%;
}
.right-bottom{
    padding: 5px;
    border-radius: 5px;
    margin-top:5px;
    background-color: rgba(6,72,72,0.5);
    height: 31%;
}
.right-bottom ul{
    float: left;
    /*margin: 7px 0 0 3px;*/
    margin: 4% 0 0 2%;
}
.right-bottom li{
    margin-bottom: 15px;
}
.right-bottom ul p{
    font-size: 16px;
    color: #89F8E2;
    text-align: left;
}


/*******************************/
/*媒体查询开始*/
/*******************************/
@media screen and (min-width: 1440px) {
    .left-top-text p{
        font-size: 18px;
    }
    .car-list{
        top: -38%;
    }
    .car-content{
        margin-top: 247px;
    }
    .car-content{
        left: -1%;
    }
    .right-bottom ul{
        margin: 15% 0 0 2%;
    }
    .right-container .right-bottom h3{
        padding-top: 20%;
    }
}
@media screen and (min-width: 1600px){
    .left-mid ul li{
        max-width: 100%;
    }
    .left-mid p{
        display: inline-block;
        padding-right: 7px;
    }
    .left-bottom-scroll ul li{
        font-size: 16px;
    }
    .left-bottom-text p{
        margin-left: 20px;
    }
    .left-bottom-text .weather{
        left: 66%;
        margin: 0;
    }
    .left-bottom-scroll{
        margin-top: 23px;
    }
    .left-bottom-text{
        padding-top: 6px;
    }
    #myCar{
        width: 700px;
    }
    .car-content{
        left: 5%;
        bottom: -19px;
    }
    .car-list{
        left: 70%;
        top: -37%;
    }
    .car-charts{
        left: 66%;
        top: 57%;
    }
    .car-bottom{
        height: 24%;
        margin-top: 9px;
    }
    .car-bottom-text{
        margin-right: -14px;
    }
    .right-bottom{
        min-height: 225px;
    }
}

@media screen and (min-width: 1920px){
    #myCar{
        width: 800px;
    }
    .car-bottom{
        margin-top: 6%;
    }
    .car-content{
        left:10%;
        top: 9%;
        margin-top: 21.5%;
    }
    .car-list {
        left: 69%;
        top: -43%;
    }
    .car-charts{
        top: 59%;
        left: 68%;
    }
    .right-bottom{
        min-height: 252px;
    }
    .right-bottom ul{
        margin: 15% 0 0 16%;
    }
    .right-container .right-bottom h3{
        padding-left: 3%;
    }
}
/*******************************/
/*媒体查询结束*/
/*******************************/


/*平行停车场*/
#container-park{
    height: 100%;
    min-width: 1200px;
    min-height: 600px;
}
/*右上角按钮*/
.right-top-park{
    position: absolute;
    right: 15px;
    top: 46px;
}
.right-top-park p {
    width: 65px;
    height: 65px;
    line-height: 65px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #FF9900;
    background-color: rgba(26, 68, 129, 0.7);
    border-radius: 10px;
    float: left;
    cursor: pointer;
}
.main-list-park{
    float: left;
    margin-right: 38px;
    display: none;
}
.main-list-park li{
    font-size: 16px;
    color: #fff;
    background-color: #1C96B5;
    position: relative;
    width: 104px;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
    margin-bottom:5px;
    cursor: pointer;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
.on{
    color: #FF9900 !important;
    background-color: rgba(26,68,129,0.7) !important;
}
.main-list-park li:first-child {
    right: 12px;
}
.main-list-park li:nth-child(2) {
    left: 20px;
}
.main-list-park li:nth-child(3){
    left: 58px;
}
.main-list-park li:nth-child(4) {
    left: 104px;
}
.main-list-park li:hover{
    color: #FF9900;
    background-color: rgba(26,68,129,0.7);
}

/*右下角按钮*/
.right-bottom-park{
    position: absolute;
    bottom: 10px;
    right:15px;
}
.right-bottom-park p{
    color: #FF9900;
    background-color: rgba(26,68,129,0.7);
    width: 106px;
    height: 38px;
    font-size: 18px;
    text-align: center;
    line-height: 38px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    z-index: 1000;
}
.right-bottom-park ul{
    display: none;
    position: absolute;
    z-index: 100;
    bottom:46px;
}
.right-bottom-park li {
    color: #fff;
    background-color: rgba(33, 118, 139, 0.7);
    width: 106px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom:5px;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
.right-bottom-park li:hover{
    color: #FF9900;
    background-color: rgba(26,68,129,0.7);
}

/*左下角*/
.left-bottom-park{
    position: absolute;
    bottom: 10px;
    left: 15px;
    width: 40%;
}
.left-bottom-park ul{
    /*display: none;*/
}
.left-bottom-park .progress{
    background-color: transparent;
    background-image: none;
    height: 25px;
    margin-bottom:5px;
    box-shadow: none;
}
.left-bottom-park .progress .progress-bar{
    line-height:25px;
    background-image: none;
    background-color: rgba(12,73,164,0.6);
}
.left-bottom-park ul li:nth-child(2) .progress-bar{
    background-color: rgba(13,105,165,0.6);
}
.left-bottom-park ul li:nth-child(3) .progress-bar{
    background-color: rgba(13,135,165,0.6);
}
.left-bottom-park ul li:nth-child(4) .progress-bar{
    background-color: rgba(13,165,165,0.6);
}
.left-bottom-park ul li:nth-child(5) .progress-bar{
    background-color: rgba(12,134,134,0.6);
}
.left-bottom-park ul li:nth-child(6) .progress-bar{
    background-color: rgba(44,165,135,0.6);
}
.left-bottom-park ul li:nth-child(7) .progress-bar{
    background-color: rgba(74,165,165,0.6);
}
.left-bottom-park ul li:nth-child(8) .progress-bar{
    background-color: rgba(73,164,164,0.6);
}
.left-bottom-park ul li:nth-child(9) .progress-bar{
    background-color: rgba(107,197,198,0.6);
}
.left-bottom-park ul li:nth-child(10) .progress-bar{
    background-color: rgba(107,187,198,0.6);
}
.location{
    float: left;
    padding-left: 10px;
    color: #FF9900;
    font-size: 14px;
}
.progress-num{
    float: right;
    padding-right:10px;
    color: #FF0000;
    font-size: 14px;
    font-weight: bold;
}
.progress-btn{
    /*width: 24%;*/
    cursor: pointer;
    position: absolute;
    top: -44px;
}
.progress-btn span{
    width: 88px;
    height: 30px;
    color: #1511B4;
    background-color: rgba(136,136,136,0.7);
    font-size: 16px;
    line-height:30px;
    text-align: center;
    border-radius: 5px;
    display: inline-block;
    display: none;
}
.progress-btn i{
    display: inline-block;
    width: 30px;
    height: 30px;
    color: #888;
    font-size: 16px;
    border: 3px solid #888;
    border-radius: 30px;
    text-align: center;
    padding: 5px;
    margin-right: 4px;
}
.left-bottom-park + .left-bottom-park .progress-bar{
    background-image: none !important;
    background-color: rgba(165,13,13,0.6);
    position: relative;
    z-index: 1000;
}
.left-bottom-park + .left-bottom-park .progress-bar+.progress-bar{
    background-color: #299B0C !important;
}
.left-bottom-park + .left-bottom-park ul li:nth-child(2) .progress-bar{
    background-color: rgba(165,13,44,0.6);
}
.left-bottom-park + .left-bottom-park ul li:nth-child(3) .progress-bar{
    background-color: rgba(165,44,13,0.6);
}
.left-bottom-park + .left-bottom-park ul li:nth-child(4) .progress-bar{
    background-color: rgba(165,44,44,0.6);
}
.left-bottom-park + .left-bottom-park ul li:nth-child(5) .progress-bar{
    background-color: rgba(162,71,70,0.6);
}
.left-bottom-park + .left-bottom-park ul li:nth-child(6) .progress-bar{
    background-color: rgba(165,74,44,0.6);
}
.left-bottom-park + .left-bottom-park ul li:nth-child(7) .progress-bar{
    background-color: rgba(165,105,44,0.6);
}
.left-bottom-park + .left-bottom-park ul li:nth-child(8) .progress-bar{
    background-color: rgba(181,121,29,0.6);
}
.left-bottom-park + .left-bottom-park ul li:nth-child(9) .progress-bar{
    background-color: rgba(165,135,12,0.6);
}
.left-bottom-park + .left-bottom-park ul li:nth-child(10) .progress-bar{
    background-color: rgba(165,135,20,0.6);
}
.left-bottom-park + .left-bottom-park .location{
    color: #6EE2E2;
}
.left-bottom-park + .left-bottom-park .progress-num{
    color: #77F800;
}
.left-bottom-park + .left-bottom-park .progress-bar+.progress-bar .progress-num{
    color: #000;
}
.left-bottom-park + .left-bottom-park .progress-bar+.progress-bar{
    position: relative;
    z-index: 999;
}
.left-bottom-park li .progress .progress-bar:first-child{
    min-width: 14%;
}
.left-bottom-park li .progress .progress-bar+.progress-bar{
    max-width: 86%;
}
/*时间线*/
.time-line {
    position: absolute;
    right: 140px;
    bottom: 10px;
}
.time-line .slider{
    width: 500px !important;
}
/*滑动小按钮*/
.slider-handle{
    background-color: #fff !important;
    background-image: none !important;
}
/*滑动条背景色*/
.slider-track{
    background-color: #0099CC !important;
    background-image: none !important;
}
/*滑动过后的颜色*/
.slider-selection{
    background-color: #0099CC !important;
    background-image: none !important;
}

/*右下方对应停车场分布*/
.right-bottom-parking-lot ul {
    width: 222px;
    height: 38px;
    float: left;
    position: relative;
    right: 0;
    bottom: -9px;
}
.right-bottom-parking-lot li{
    position: absolute;
}
.right-bottom-parking-lot li:first-child{
    right: 5px;
}
.right-bottom-parking-lot p{
    float: left;
}
.right-bottom-parking-lot p i{
    font-size: 12px;
    padding-left: 3px;
}
.parking-lot-state{
    position: absolute;
    right: 15px;
    bottom: 50px;
}
.parking-lot-state li {
    font-size: 20px;
    margin-top: -5px;
}
.parking-lot-state li span{
    font-size: 30px;
    font-weight:bold;
}
.parking-lot-state li:first-child{
    color: #09F219;
}
.parking-lot-state li:nth-child(2){
    color: #FCF505;
}
.parking-lot-state li:last-child{
    color: #FC1405;
}

/*推荐方案弹出窗*/
.recommand-way{
    background-color: rgba(9,155,191,0.7);
    position: absolute;
    right: 18%;
    top: 47%;
    border-radius: 10px;
}
.recommand-way ul{
    padding: 35px 15px 10px 15px;
}
.recommand-way i.icon-remove {
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    display: block;
    position: absolute;
    right: 16px;
    top: 6px;
}
.recommand-way ul li{
    color: #FF9900;
    font-size: 20px;
    font-weight: bold;
}
.recommand-way ul p{
    display: inline-block;
    min-width: 156px;
}
.recommand-way ul+input{
    background-color: #00FF00;
    color: #000;
    font-size: 18px;
    border-radius: 15px;
    padding:5px 15px;
    display: block;
    margin: 0 auto 15px auto;
    border: none;
    width: 115px;
}
.recommand-way .slider-track,.recommand-way .slider-selection{
    background-color: #FFCC00 !important;
}

/*右下角模拟建设点击后*/
.simulate-build{
    z-index: 1000;
}
.park-pin{
    position: absolute;
    right: 52px;
    bottom: 136px;
    font-size: 46px;
    font-weight: bold;
    color: #07F9D4;
}
.build-window{
    position: absolute;
    right: 18%;
    top: 13%;
    border-radius: 10px;
    background-color: rgba(9,155,191,0.7);
}
.build-window i {
    font-size: 30px;
    color: #fff;
    display: block;
    float: right;
    margin: 5px 10px 0 0;
    cursor: pointer;
}
.build-window ul{
    padding: 45px 15px 10px 15px;
}
.build-window li{
    color: #63FF00;
    font-size: 20px;
    font-weight: bold;
}
.build-window ul p{
    display: inline-block;
    min-width: 140px;
}
.build-window select{
    background-color: #00CCFF;
    color: #FF9900;
    width: 170px;
}
.build-window p span{
    color: #FF9900;
    padding-right: 20px;
    font-size: 24px;
}
.build-window ul input{
    width: 170px;
    text-align: center;
    color: #FF9900;
}
.build-window input.build-confirm-btn,.build-window-confirm input{
    background-color: #00FF00;
    color: #000;
    font-size: 20px;
    border-radius: 15px;
    padding:5px 15px;
    display: block;
    margin: 0 auto 15px auto;
    border: none;
    width: 115px;
}
.build-window-confirm{
    position: absolute;
    right: 19%;
    top: 50%;
    border-radius: 10px;
    padding: 20px 45px 10px 45px;
    background-color: rgba(9,155,191,0.7);
}
.build-window-confirm p{
    font-size: 20px;
    color: #63FF00;
    width: 220px;
}
.build-window div.progress,.recommand-way .progress{
    margin: 0;
    height: 26px;
}
.build-window .progress-bar,.recommand-way .progress-bar{
    line-height: 26px;
}







