<layout name="super"/>
<!-- 车辆管理  -->
<meta charset="utf-8">
<link href="__PUBLIC__/css/admin/carManager.css" rel="stylesheet">
 
<!-- S EASYUI -->
<script src="__PUBLIC__/thirdparty/easyui/jquery.easyui.min.js"></script>
<link href="__PUBLIC__/thirdparty/easyui/themes/bootstrap/easyui.css" rel="stylesheet" />
<link href="__PUBLIC__/thirdparty/easyui/themes/icon.css" rel="stylesheet" />
<script src="__PUBLIC__/thirdparty/date/WdatePicker.js"></script>
<script src="__PUBLIC__/thirdparty/easyui/easyui-lang-zh_CN.js"></script>
<!-- E EASYUI -->
<script src="__PUBLIC__/js/admin/carManager.js"></script>

<div class="page">
	<div class="manag_nav">
		<a href="#" id="statisticInfo">统计信息</a>
			<a href="#" class="sel"id="carManager">车辆管理</a>
			<a href="#" id="userInfo">用户信息</a>
		<img alt="" src="__PUBLIC__/image/back.png" height="25"  onclick="pageJump('realTimeStatus.html')"
		style="float: right;cursor: pointer;">
	</div>
	<div style="margin: 9px;">
			开始时间： <input name="begintime" id="begintime" placeholder="请输入日期"
		readonly 
		 onFocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" class="Wdate">
		结束时间：<input name="endtime" id="endtime"  onchange="park_analyse()"
		placeholder="请输入日期"
		readonly onFocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" class="Wdate">
			车辆类型： <select>
				<option value='0'>全部</option>
				<option value='1'>小型车</option>
				<option value='2'>大型车</option>
			</select>
			<button  onclick="check()" type="button" class="btn btn-success btn-xs" style="width: 80px;height: 22px;line-height: 22px;margin-top: -4px;">查询</button>
		</div>
	<div style="margin-top: 20px;">
			停车场历史在停车辆：在此时间段内&nbsp;&nbsp;&nbsp;&nbsp; 入场车辆共：<span class="search_result">18</span>辆&nbsp;&nbsp;&nbsp;
			出场车辆共：<span class="search_result">18</span>辆&nbsp;&nbsp;&nbsp;
			完成收费：<span class="search_result">8</span>辆
	</div>
	
	<div style="width: 100%;height: 100%;margin-top: -105px;padding-top: 145px;">
		<div id="personGrid" style="width: 100%;height: 47%;"></div>
		<div style="width: 100%;height: 6%;"></div>
		<div id="realTimeParkingGrid" style="width: 100%;height: 47%; "></div>
	</div>
	
</div>