<layout name="super"/>
<!-- 停车场综合管控 -->
<meta charset="utf-8">
<!-- S bootstrap-table -->
<link
	href="__PUBLIC__/thirdparty/bootstrap/css/bootstrap-table.min.css"
	rel="stylesheet">
<script src="__PUBLIC__/thirdparty/bootstrap/js/bootstrap-table.js"></script>
<script
	src="__PUBLIC__/thirdparty/bootstrap/js/bootstrap-table-zh-CN.min.js"></script>
<!-- E bootstrap-table -->

<!-- S EASYUI -->
<script src="__PUBLIC__/thirdparty/easyui/jquery.easyui.min.js"></script>
<link href="__PUBLIC__/thirdparty/easyui/themes/bootstrap/easyui.css"
	rel="stylesheet" />
<link href="__PUBLIC__/thirdparty/easyui/themes/icon.css"
	rel="stylesheet" />
<script src="__PUBLIC__/thirdparty/easyui/easyui-lang-zh_CN.js"></script>
<!-- E EASYUI -->
<script src="__PUBLIC__/js/admin/compreManager.js"></script>

<div class="page">
	<div style="width: 100%; height: 100%;">
		<div id="parkingGrid"></div>
	</div>
</div>

<!-- 详情窗口 -->
<div class="modal fade" id="addRuleWin" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">详情</h4>
			</div>
			<div class="modal-body">
				
			</div>
		</div>
	</div>
</div>

<div id="tb" style="padding:2px 5px;">
     停车场类型
      <select class="easyui-combobox" panelHeight="auto" style="width:150px;">
         <option>全部</option>
			<option>普通收费停车场</option>
			<option>路侧公共停车场</option>
			<option>个人车位</option>
      </select>
  </div>
