<layout name="super"/>

<!-- 收益查询 -->
<link href="__PUBLIC__/css/admin/map.css" rel="stylesheet">
<style>
    .nav .active a {
        background-color: #0066FF !important;
        color: #fff !important;
    }
</style>
<script src="__PUBLIC__/thirdparty/echarts/echarts-all.js"></script>
<script src="__PUBLIC__/js/admin/map.js"></script>
<div class="page" style="padding: 0;">
    <div id="map" style="width: 100%; height: 100%;"></div>

    <div id="showInfo"
         style="border: 2px solid red; width: 100px; height: 60px;margin-bottom: 20px;text-align: right;line-height: 60px;position: absolute; top: 10px; right: 20px;">
        <span style="font-weight: bolder;font-size: 27px;color: red;">8.5</span>
    </div>

    <div id="chartCon"
         style="width: 150px; height: 150px; padding: 10px;  position: absolute; bottom: 10px; right: 10px;">
        <div id="chart" style="width: 100%; height: 100%;"></div>
    </div>
    <div
            style="width: 60px; height: 150px; position: absolute; right: 20px; top: 90px;">

        <div id="conditionBtn"
             style="height: 30px; width: 100%; background-color: black; -moz-opacity: 0.4; text-align: center; border-radius: 3px; opacity: 0.4; z-index: 10101; filter: alpha(opacity = 40); color: #fff; font-weight: 500; font-size: 12px; cursor: pointer; padding: 5px;">
            筛选
        </div>
        <div id="showToggo" data-tag="0"
             style="margin-top: 10px; height: 30px; width: 100%; background-color: black; -moz-opacity: 0.4; text-align: center; border-radius: 3px; opacity: 0.4; z-index: 10101; filter: alpha(opacity = 40); color: #fff; font-weight: 500; font-size: 12px; cursor: pointer; padding: 5px;">
            <span id="showText">隐藏</span>
        </div>
    </div>
    <div id="condition" class="float_panel_con is_show">
        <div
                style="height: 100%; background-color: #fff;padding: 10px;">
            <div>
                <ul class="nav nav-tabs" role="tablist"
                    style="height: 100%;padding: 4px;margin: 15px;">
                    <li role="presentation" class="active"><a href="#all"
                                                              aria-controls="carNo" role="tab" data-toggle="tab">全部</a>
                    </li>
                    <li role="presentation"><a href="#commonParking"
                                               aria-controls="parking" role="tab" data-toggle="tab">普通停车场</a></li>
                    <li role="presentation"><a href="#roadParking"
                                               aria-controls="parking" role="tab" data-toggle="tab">路边停车场</a></li>
                    <li role="presentation"><a href="#chargeParking"
                                               aria-controls="parking" role="tab" data-toggle="tab">充电桩</a></li>
                    <li role="presentation"><a href="#presonParking"
                                               aria-controls="parking" role="tab" data-toggle="tab">个人停车位</a></li>
                </ul>
                <div class="tab-content" style="height: 70px;">
                    <div role="tabpanel" class="tab-pane active" id="all"
                         style="padding: 20px 35px;">
                        <div class="float_panel float_panel_left float_panel_notSel">
                            <img alt="" src="__PUBLIC__/image/P_green.png">
                            <span>显示<br/>单价</span>
                        </div>
                        <div class="float_panel float_panel_right float_panel_notSel">
                            <img alt="" src="__PUBLIC__/image/P_green.png">
                            <span>显示<br/>余量</span>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="commonParking"
                         style="padding: 20px 10px;">
                        <div class="float_panel float_panel_left float_panel_notSel">
                            <img alt="" src="__PUBLIC__/image/P_green.png">
                            <span>显示<br/>单价</span>
                        </div>
                        <div class="float_panel float_panel_right float_panel_notSel">
                            <img alt="" src="__PUBLIC__/image/P_green.png">
                            <span>显示<br/>余量</span>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="roadParking"
                         style="padding: 20px 10px;">
                        <div class="float_panel float_panel_left float_panel_notSel">
                            <img alt="" src="__PUBLIC__/image/P_green.png">
                            <span>显示<br/>单价</span>
                        </div>
                        <div class="float_panel float_panel_right float_panel_notSel">
                            <img alt="" src="__PUBLIC__/image/P_green.png">
                            <span>显示<br/>余量</span>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="chargeParking"
                         style="padding: 20px 10px;">
                        <div class="float_panel float_panel_left float_panel_notSel">
                            <img alt="" src="__PUBLIC__/image/P_green.png">
                            <span>显示<br/>单价</span>
                        </div>
                        <div class="float_panel float_panel_right float_panel_notSel">
                            <img alt="" src="__PUBLIC__/image/P_green.png">
                            <span>显示<br/>余量</span>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="presonParking"
                         style="padding: 20px 10px;">
                        <div class="float_panel float_panel_left float_panel_notSel">
                            <img alt="" src="__PUBLIC__/image/P_green.png">
                            <span>显示<br/>单价</span>
                        </div>
                        <div class="float_panel float_panel_right float_panel_notSel">
                            <img alt="" src="__PUBLIC__/image/P_green.png">
                            <span>显示<br/>余量</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var car_lon = 120.246313;
    var car_lat = 36.279778;
    // 百度地图API功能
    var map = new BMap.Map("map");    // 创建Map实例
    map.centerAndZoom(new BMap.Point(car_lon, car_lat), 11);  // 初始化地图,设置中心点坐标和地图级别
    map.addControl(new BMap.MapTypeControl());   //添加地图类型控件
    map.setCurrentCity("青岛");          // 设置地图显示的城市 此项是必须设置的
    map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放

    var point = new BMap.Point(car_lon, car_lat);
    map.centerAndZoom(point, 15);

    //创建小车
    var pt = new BMap.Point(car_lon, car_lat);
    var myIcon = new BMap.Icon("__PUBLIC__/image/car.png", new BMap.Size(28, 60));
    var marker2 = new BMap.Marker(pt, {icon: myIcon});  // 创建标注
    map.addOverlay(marker2);

    //创建停车场
    var url = "{:U('API/park_list')}";
    var data = {lon: car_lon, lat: car_lat};
    var end_lon = 0;
    var end_lat = 0;
    $.getJSON(url,
            data,
            function (result, textStatus, jqXHR) {
                $.each(result.park_list, function (i, item) {
                    if (end_lat == 0) {
                        end_lon = item.lon;
                        end_lat = item.lat;
                    }
                    var pt = new BMap.Point(item.lon, item.lat);
                    var sContent =
                            "<h4 style='margin:0 0 5px 0;padding:0.2em 0'>item.name</h4>" +
                            "<img style='float:right;margin:4px' id='imgDemo' src='" + item.img + "' width='139' height='104' title='天安门'/>" +
                            "<p style='margin:0;line-height:1.5;font-size:13px;text-indent:2em'>" + item.address + "</p>" +
                            "<p style='margin:0;line-height:1.5;font-size:13px;text-indent:2em'>" + item.remain + "/" + item.total + "</p>" +
                            "</div>";
                    var myIcon = new BMap.Icon("__PUBLIC__/image/chongzu.png", new BMap.Size(66, 75));
                    var marker2 = new BMap.Marker(pt, {icon: myIcon});  // 创建标注
                    map.addOverlay(marker2);
                });
                search_line();
            }
    );


    //确定行车路线

    function search_line() {
        var p1 = new BMap.Point(car_lon, car_lat);
        var p2 = new BMap.Point(end_lon, end_lat);
        var driving2 = new BMap.DrivingRoute(map, {renderOptions: {map: map, autoViewport: true}});
        driving2.search(p1, p2);
    }

</script>



