<layout name="super"/>
<!-- 停车指数分析 -->
<meta charset="utf-8">
<script src="__PUBLIC__/thirdparty/echarts/echarts-all.js"></script>
<script src="__PUBLIC__/js/admin/super_zhishu.js"></script>
<script src="__PUBLIC__/thirdparty/date/WdatePicker.js"></script>
<script type="text/javascript">
$(function(){
	$('.page_right').load('parkingStateInfo.html');
});
</script>
<div class="page">
	<div class="self-datepicker">
		开始时间： <input name="begintime" id="begintime" placeholder="请输入日期"
		 
		 onFocus="WdatePicker({dateFmt:'yyyy-MM-dd ',maxDate:'%y-%M-%d' })" class="Wdate">
		结束时间：<input name="endtime" id="endtime"  onchange="zhishu_line()"
		placeholder="请输入日期"
		 onFocus="WdatePicker({dateFmt:'yyyy-MM-dd ',maxDate:'%y-%M-%d'})" class="Wdate">
	</div>
	<div style="width: 100%;height: 100%;margin-top: -25px;padding-top: 35px;">
		<div style="height: 50%;width: 100%;">
			<div id="indexLine" style="width: 60%;height: 100%;float: left;"></div>
			<div id="pieChart" style="width: 40%;height: 100%;float: right;"></div>
		</div>
		<div id="lineChart" style="width: 100%;height: 50%;padding-top: 10px;"></div>
	</div>
	
</div>