<layout name="super"/>
<!-- 停车车次统计 -->
<meta charset="utf-8">
<script src="__PUBLIC__/thirdparty/echarts/echarts-all.js"></script>
<script src="__PUBLIC__/js/admin/super_checi.js"></script>
<script src="__PUBLIC__/thirdparty/date/WdatePicker.js"></script>
<script type="text/javascript">
$(function(){
	
})

</script>
<div class="page">
	<div>
		开始时间： <input name="begintime" id="begintime" placeholder="请输入日期"
		readonly 
		 onFocus="WdatePicker({dateFmt:'yyyy-MM-dd ',maxDate:'%y-%M-%d' })" class="Wdate">
		结束时间：<input name="endtime" id="endtime"  onchange="park_analyse()"
		placeholder="请输入日期"
		readonly onFocus="WdatePicker({dateFmt:'yyyy-MM-dd ',maxDate:'%y-%M-%d'})" class="Wdate">
	</div>
	
	<div style="width: 100%;height: 100%;margin-top: -30px;padding-top: 45px;">
		<div id="lineChart1" style="width: 100%;height: 50%;"></div>
		<div id="lineChart2" style="width: 100%;height: 50%;"></div>
	</div>
	
</div>
