<meta charset="utf-8">
<link href="__PUBLIC__/css/admin/parkingStateInfo.css" rel="stylesheet">
<div class="page_state">
    <div style="height:31%">
    <div class="title" style="height:20%">停车场实时信息</div>
	<div class="state_block" style="height:80%">
		<div class="car_num" style="height:100%">
			<div style="height:16%">&nbsp;总车位数：&nbsp;&nbsp;<span>120</span></div>
			<div style="height:16%">剩余车位数：&nbsp;&nbsp;<span>20</span></div>
			<div style="height:16%">场内车里数：&nbsp;&nbsp;<span>105</span></div>
			<div style="height:16%">已结算车数：&nbsp;&nbsp;<span>100</span></div>
			<div style="height:16%">未结算车数：&nbsp;&nbsp;<span>5</span></div>
		</div>
		<div class="car_sum" style="height:40%">
			<div class="col-xs-12" style="height:33%"></div>
			<div class="col-xs-12" style="height:34%">8.5</div>
			<div class="col-xs-12" style="height:33%"></div>
		</div>
	</div>
    </div>
	<div style="height:23%">
	<div class="title" style="height:25%">停车场当日收益</div>
	<div class="state_block" style="height:75%">
		<div class="left" style="height:100%">
			<div style="height:33%">当日大型车收益：&nbsp;&nbsp;<span>500</span></div>
			<div style="height:33%">当日小型车收益：&nbsp;&nbsp;<span>500</span></div>
			<div style="height:34%">&nbsp;&nbsp;当日总收益：&nbsp;&nbsp;<span>10000</span></div>
		</div>
		<div class="right" style="height:100%">
			<div style="height:33%">元</div>
			<div style="height:33%">元</div>
			<div style="height:34%">元</div>
		</div>
	</div>
	</div>
	<div style="height:23%">
	<div class="title" style="height:25%">停车场当月累计收益10月</div>
	<div class="state_block" style="height:75%">
		<div class="left" style="height:100%">
			<div style="height:33%">&nbsp;&nbsp;&nbsp;当月累计总收益：<span>50000.36</span></div>
			<div style="height:33%">当月小型车累计总收益：<span>20000.36</span></div>
			<div style="height:34%">当月大型车累计总收益：<span>30000</span></div>
		</div>
		<div class="right" style="height:100%">
			<div style="height:33%">元</div>
			<div style="height:33%">元</div>
			<div style="height:34%">元</div>
		</div>
	</div>
	</div>
	<div style="height:23%">
	<div class="title" style="height:25%">停车场当年累计收益 2015年</div>
	<div class="state_block" style="height:75%">
		<div class="left" style="height:100%">
			<div style="height:33%">&nbsp;&nbsp;&nbsp;当年累计总收益：<span>50000.36</span></div>
			<div style="height:33%">当年小型车累计总收益：<span>20000.36</span></div>
			<div style="height:34%">当年大型车累计总收益：<span>30000</span></div>
		</div>
		<div class="right" style="height:100%">
			<div style="height:33%">元</div>
			<div style="height:33%">元</div>
			<div style="height:34%">元</div>
		</div>
	</div>
	</div>
	
	
	
</div>