<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
	<form action="__URL__/register" method="post"
		enctype="multipart/form-data">
		phone<input type="text" name="phone"> 
		<br> 
		nickname<input type="text" name="nickname"> 
		<br> 
		pwd<input type="text" name="pwd"> 
		<br> 
		验证码<input type="text" name="captcha">
		<br> 
		name<input type="text" name="name"> 
		<br>
		card_no<input type="text" name="card_no"> 
		<br> 
		card_img<input type="file" name="card_img"> 
		<br> 
		<input type="submit" value="提交">
	</form>
</body>
</html>