@charset "utf-8";
html,body {
	height: 100%;
}

body {
	font: 13px/1.7em 'Open Sans';
	background-color: #F8F8F8;
}

/*去除元素的默认边距*/  
html,body,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,th,td,p,blockquote,pre,form,fieldset,legend,input,button,textarea,hr
	{
	margin: 0;
	padding: 0;
}

.clear {
	clear: both;
}

/*定义了form-control的input,input高度变为34,默认padding-top,bottom为6px,会导致IE文本不垂直居中
input[type="text"],input[type="password"] {
	height: 27px !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}
*/
/*覆盖.form-control{display:block;width:100%;height:34px;padding:6px 12px;中的padding-right*/
select {
	height: 22px !important;
	padding: 0px 0px 0px 12px !important;
}


/*  font-awesome.css中的图标有的是8*14，有的是14*14，这里统一成14*14并且居中对齐 */   
i {
	width: 14px;
	height: 14px;
	text-align: center;
	cursor: pointer;
}


/*取消textarea的自动拉伸*/
textarea {
	resize: none;
}

/*文字换行显示*/
.wrap-text {
	white-space: normal;
	overflow: hidden;
}

.modal-dialog{
	z-index: 11111;
}

.btn{
	background: #00CC33;
	color:#000;
	font: bold 12px/25px Arial, sans-serif;
 
    text-shadow: 1px 1px 1px rgba(255,255,255, .22);
 
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
 
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
 
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    transition: all 0.15s ease;
}

.table_row_btn{
   color:#00CCFF;
}