@charset "utf-8";

#container {
	margin: 0 auto;
	width: 100%;
	min-height: 100%;
	height: 100%; /*IE6不识别min-height*/
	background-color: #fff;
}

#header {
	height: 63px;
	/* background-color: #000000; */
}

#mainContent {
	position: absolute;
	width: 100%;
	top: 51px;
	bottom: 0;
	overflow: auto;
}

#sidebar {
	float: left;
	width: 54px;
	height: 100%;
	background: #252525;
}

#rightSidebar{
	float: right;
	width: 271px;
	height: 100%;
}

#content {
	margin:0px 272px 0 55px !important; 
	margin:0px 272px 0 55px; 
	height: 100%;
}

/*======= 子页面 =========*/
.page {
	width: 100%;
	height: 100%;
	padding:20px;
}