@charset "utf-8";

.page{
	margin: 0px;
	padding: 0px;
}

.manag_nav {
	height: 30px;
	background-color: #363636;
}

.manag_nav a {
	background-color: #00CCFF;
	width: 100px;
	height: 100%;
	display: inline-block;
	float: left;
	color: #fff;
	text-align: center;
	line-height: 2.9;
	border-right: 1px solid #00C66B;
	font-weight: bold;
}

.manag_nav .sel{
	background-color: #01FF33;
}

.search_result{
	font-weight: bolder;
	padding: 0px 15px;
	font-size: 17px;
}