@charset "utf-8";

.page{
	margin: 0px;
	padding: 0px;
}

.static_left {
	margin-right: 250px;
	height: 90%;
}

.static_right {
	height: 90%;
	width: 270px;
	position: absolute;
	right: 1px;
	top: 4px;
}

.sta_nav {
	height: 30px;
	background-color: #363636;
}

.sta_nav a {
	background-color: #00A65A;
	width: 100px;
	height: 100%;
	display: inline-block;
	float: left;
	color: #fff;
	text-align: center;
	line-height: 30px;
	border-right: 1px solid #00C66B;
	font-weight: bold;
}

.sta_nav .sel{
	background-color: #00C66B;
}