<?php 
session_start();
	$_SESSION['user']['user_id']=1;
	$_SESSION['park_id']=1;
 ?>
<layout name="common"/>
<!-- 信息展示 -->
<meta charset="utf-8">
<link href="__PUBLIC__/css/common/showInfo.css" rel="stylesheet">
<script src="__PUBLIC__/thirdparty/echarts/echarts-all.js"></script>
<script type="text/javascript">
	$(function(){
		var columInfo = eval({$columInfo});
		var pieInfo = eval({$pieInfo});
		var lineInfo = eval({$lineInfo});
		
		var dateList=new Array();
		var bigCarList=new Array();
		var smallCarList=new Array();
		var incomeList=new Array();
		
		var timeList=new Array();
		var inList=new Array();
		var outList=new Array();
		
		for (var i = 0; i < columInfo.length; i++) {
			dateList[i]=columInfo[i].date;
			if(columInfo[i].big==null)
				bigCarList[i]=0;
			else
				bigCarList[i]=columInfo[i].big;
			if(columInfo[i].small==null)
				smallCarList[i]=0;
			else
				smallCarList[i]=columInfo[i].small;
			if(columInfo[i].money==null)
				incomeList[i]=0;
			else
				incomeList[i]=columInfo[i].money;
		}
		
		for (var i = 0; i < lineInfo.length; i++) {
			timeList[i]=lineInfo[i].time;
			if(lineInfo[i].cnt==null)
				inList[i]=0;
			else
				inList[i]=lineInfo[i].cnt;
			if(lineInfo[i].cnt_end==null)
				outList[i]=0;
			else
				outList[i]=lineInfo[i].cnt_end;
		}
		
		$('.page_right').load('parkingStateInfo.html');
		var option_lineBar = {
				 title : {
	 			        text: ' 近30天停车类型收益关系图',
	 			        x:'center'
	 			    },
			    tooltip : {
			        trigger: 'axis'
			    },
			    calculable : true,
			    legend: {
			        data:['大型车','小型车','收益'],
			        orient:'vertical',
			        x:'left'
			        
			    },
			    grid:{
			    	x:135
			    },
			    xAxis : [
			        {
			            type : 'category',
			            data : dateList
			                    
			        }
			    ],
			            
			    
			    yAxis:[{
			    type : 'value',
			            name : '停车数量',
			            axisLabel : {
			                formatter: '{value} 辆'
			            }
			        },
			        {
			            type : 'value',
			            name : '收益',
			            axisLabel : {
			                formatter: '{value} 元'
			            }
			        }
			    ],
			    series : [

			        {
			            name:'大型车',
			            type:'bar',
			            data:bigCarList
			        },
			        {
			            name:'小型车',
			            type:'bar',
			            data:smallCarList
			        },
			        {
			            name:'收益',
			            type:'line',
			            yAxisIndex: 1,
			            data:incomeList
			        }
			    ]
			};
	 		var chart = echarts.init($('#lineBarChart')[0]); 
	 		chart.setOption(option_lineBar);
	 		
	 		var option_pie = {
	 			    title : {
	 			        text: '近30天停车比例',
	 			        x:'center'
	 			    },
	 			    tooltip : {
	 			        trigger: 'item',
	 			        formatter: "{a} <br/>{b} : {c} ({d}%)"
	 			    },
	 			    legend: {
	 			        orient : 'vertical',
	 			        x : 'right',
	 			        data:['免费小车','免费大车','收费小车','收费大车']
	 			    },
	 			    calculable : true,
	 			    series : [
	 			        {
	 			            name:'访问来源',
	 			            type:'pie',
	 			            radius : '55%',
	 			            center: ['50%', '60%'],
	 			            data:[
	 			                {value:pieInfo.small_free, name:'免费小车'},
	 			                {value:pieInfo.big_free, name:'免费大车'},
	 			                {value:pieInfo.small, name:'收费小车'},
	 			                {value:pieInfo.big, name:'收费大车'}
	 			            ]
	 			        }
	 			    ]
	 			};
	 		var chart = echarts.init($('#pieChart')[0]); 
	 		chart.setOption(option_pie);
	 		
	 		var option_line = {
	 			    title : {
	 			        text: '24小时出入口车流量统计'
	 			    },
	 			    tooltip : {
	 			        trigger: 'axis'
	 			    },
	 			    legend: {
	 			        data:['驶离流量','驶入流量']
	 			    },
	 			   
	 			    calculable : true,
	 			    xAxis : [
	 			        {
	 			            type : 'category',
	 			            boundaryGap : false,
	 			            data :  timeList
	 			        }
	 			    ],
	 			    yAxis : [
	 			        {
	 			            type : 'value',
	 			            axisLabel : {
	 			                formatter: '{value} 辆'
	 			            }
	 			        }
	 			    ],
	 			    series : [
	 			        {
	 			            name:'驶离流量',
	 			            type:'line',
	 			            data:inList,
	 			            markPoint : {
	 			                data : [
	 			                    {type : 'max', name: '最大值'},
	 			                    {type : 'min', name: '最小值'}
	 			                ]
	 			            },
	 			        },
	 			        {
	 			            name:'驶入流量',
	 			            type:'line',
	 			           data:outList,
				                    markPoint : {
			 			                data : [
			 			                    {type : 'max', name: '最大值'},
			 			                    {type : 'min', name: '最小值'}
			 			                ]
			 			            }, 
	 			        }
	 			    ]
	 			};
	 		
	 		var chart = echarts.init($('#lineChart')[0]); 
	 		chart.setOption(option_line);
	 		
	 		
	})
</script>

<div class="page">
		<div class="row" style="width: 100%;height: 55%;">
			  <div  style="height: 100%;width:60%;float:left">
			  		<div id="lineBarChart" style="width: 100%;height: 100%;"></div>
			  </div>
			  <div  style="height: 100%;width:40%;float:right">
			  		<div id="pieChart" style="width: 100%;height: 100%;"></div>
			  </div>
		</div>
		<div class="row" style="width: 100%;height: 45%;position:relative;bottom:-15px">
			<div id="lineChart" style="width: 100%;height: 100%;"></div>
		</div>
</div>