<!-- 流量分析 -->
<layout name="common" />
<meta charset="utf-8">
<link href="__PUBLIC__/css/common/flowAnalysis.css" rel="stylesheet">
<script src="__PUBLIC__/thirdparty/echarts/echarts-all.js"></script>
<script src="__PUBLIC__/js/time-util.js"></script>
<script type="text/javascript">



/* function getFlowInfo(url,start,end,car_category) {
	
	$.post(url, {
		start_time : start,
		end_time : end,
		type:car_category,
		user_id : <?php echo $_SESSION['user']['user_id'] ?>
	}, function(datas, status) {
		if (status == 4 || status == "success") {
			var lineInfo = eval(datas);
			drawChart(lineInfo);
		}
	});
} */

	function drawChart(lineInfo) {
		var dateList=new Array()
		var inList = new Array();
		var outList = new Array();
		var moneyList = new Array();
		for (var i = 0; i < lineInfo.length; i++) {
			dateList[i]=lineInfo[i].date;
			if(lineInfo[i].cnt==null)
				inList[i]=0;
			else
				inList[i]=lineInfo[i].cnt;
			if(lineInfo[i].cnt_end==null)
				outList[i]=0;
			else
				outList[i]=lineInfo[i].cnt_end;
			if(lineInfo[i].money==null)
				moneyList[i]=0;
			else
				moneyList[i]=lineInfo[i].money;
		}
		var option = {
			    tooltip : {
			        trigger: 'axis'
			    },
			    calculable : true,
			    legend: {
			        data:['出口车流量','入口车流量','收益']
			    },
			    xAxis : [
			        {
			            type : 'category',
			            data : dateList
			                    
			        }
			    ],
			    yAxis : [
			        {
			            type : 'value',
			            name : '车流量',
			            axisLabel : {
			                formatter: '{value} 辆'
			            }
			        },
			        {
			            type : 'value',
			            name : '收益',
			            axisLabel : {
			                formatter: '{value} 元'
			            }
			        }
			    ],
			    series : [

			        {
			            name:'出口车流量',
			            type:'line',
			            data:outList
			        },
			        {
			            name:'入口车流量',
			            type:'line',
			            data:inList
			        },
			        {
			            name:'收益',
			            type:'line',
			            yAxisIndex: 1,
			            data:moneyList
			        }
			    ]
			};
	 		var chart = echarts.init($('#chart')[0]); 
	 		chart.setOption(option);
	}
	
	$(function(){
		$('.page_right').load('parkingStateInfo.html');
		var lineInfo = eval({$lineInfo});
		drawChart(lineInfo);
		
		$('#flow_end_time').attr("placeholder",getNowFormatDate());
		$('#flow_start_time').attr("placeholder",getTomonthDate());
		
	})

	function getTomonthDate(){
		var date=new Date()
		date.setDate(date.getDate()-29);
		var seperator1 = "-";
	    var seperator2 = ":";
	    var month = date.getMonth() + 1;
	    var strDate = date.getDate();
	    if (month >= 1 && month <= 9) {
	        month = "0" + month;
	    }
	    if (strDate >= 0 && strDate <= 9) {
	        strDate = "0" + strDate;
	    }
	    var currentdate = date.getFullYear() + seperator1 + month + seperator1 + strDate
	            + " " + "00" + seperator2 + "00"
	            + seperator2 + "00";
	    return currentdate;
	}
	
	function getNowFormatDate() {
    var date = new Date();
    var seperator1 = "-";
    var seperator2 = ":";
    var month = date.getMonth() + 1;
    var strDate = date.getDate();
    if (month >= 1 && month <= 9) {
        month = "0" + month;
    }
    if (strDate >= 0 && strDate <= 9) {
        strDate = "0" + strDate;
    }
    var currentdate = date.getFullYear() + seperator1 + month + seperator1 + strDate
            + " " + date.getHours() + seperator2 + date.getMinutes()
            + seperator2 + date.getSeconds();
    return currentdate;
}
</script>
<div class="page">
	<div style="height: 10%">
		开始时间： <input placeholder="请输入日期" class="laydate-icon"
		id="income_start_time" onblur="timeLimit('start')"
			onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss',max:getNowFormatDate()})">
		结束时间： <input  placeholder="请输入日期" class="laydate-icon"
		id="income_end_time" onblur="timeLimit('end')"
			onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss',max:getNowFormatDate()})">
		车辆类型： <select id="income_car_category">
			<option >全部</option>
			<option value="1">小型车</option>
			<option value="2">大型车</option>
		</select>
		</select>
		<button type="button" class="btn btn-success btn-xs"
			style="width: 100px; height: 22px; line-height: 22px; margin-top: -4px;"
			onclick="getInfo('park_analyse','{:U('Parkrecord/count_flow_info')}',$('input#flow_start_time').val(),$('input#flow_end_time').val(),$('select#flow_car_category').val())">查询</button>
	</div>
	<div style="height: 10%; padding-top: 10px">
		在此时间段内&nbsp;&nbsp;&nbsp;&nbsp; 入场车辆共：<span class="search_result">18</span>辆&nbsp;&nbsp;&nbsp;
		完成收费：<span class="search_result">8</span>辆
	</div>
	<div
		style="background-color: #fff; height: 80%; position: relative; bottom: -15px">
		<div id="chart" style="height: 100%"></div>
	</div>
</div>