<layout name="common" />
<meta charset="utf-8">
<div class="login-box col-md-12  text-center" id="zhifu-box"
	style="padding-top: 30px">
	<div class="login-title text-center" style="margin-bottom: 50px">
		<h3>
			<img height="30px" src="__PUBLIC__/image/register/zhifu.png">支付基本信息
		</h3>
	</div>
	<div class="login-content ">
		<form action="__URL__/add_pay" method="post">
			<div class="form">
				<div class="form-group">
					<div class="col-xs-12  " style="margin-bottom: 20px">
						<div class="col-xs-4  text-right"
							style="padding: 0px; height: 25px; font-family: 黑体; color: #000; line-height: 25px">
							银行卡户头名称:</div>
						<div class="col-xs-4  text-left"
							style="padding: 0px; height: 25px;">
							<input type="text" id="bankaddress" name="bank_account_name"
								value='{$data.bank_account_name}' class="form-control"
								style="height: 25px;" placeholder="">
						</div>
					</div>

					<div class="col-xs-12  " style="margin-bottom: 20px">
						<div class="col-xs-4  text-right"
							style="padding: 0px; height: 25px; font-family: 黑体; color: #000; line-height: 25px">
							归属银行:</div>
						<div class="col-xs-4  text-left"
							style="padding: 0px; height: 25px;">
							<select id="bankname" name="bank_id"
								style="width: 100%; height: 25px"><option value="1">中国银行</option>
								<option value="2">中国建设银行</option>
							</select>
						</div>
					</div>

					<div class="col-xs-12  " style="margin-bottom: 20px">
						<div class="col-xs-4  text-right"
							style="padding: 0px; height: 25px; font-family: 黑体; color: #000; line-height: 25px">
							银行账号:</div>
						<div class="col-xs-4  text-left"
							style="padding: 0px; height: 25px;">
							<input type="text" id="bankcard" name="bank_account"
								value='{$data.bank_account}' class="form-control"
								style="height: 25px;" placeholder="">
						</div>
					</div>
					<div class="col-xs-12  " style="margin-bottom: 20px">
						<div class="col-xs-4  text-right"
							style="padding: 0px; height: 25px; font-family: 黑体; color: #000; line-height: 25px">
							支付宝名称:</div>
						<div class="col-xs-4  text-left"
							style="padding: 0px; height: 25px;">
							<input type="text" id="zhifuname" name="alipay_name"
								value='{$data.alipay_name}' class="form-control"
								style="height: 25px;" placeholder="">
						</div>
					</div>

					<div class="col-xs-12  " style="margin-bottom: 20px">
						<div class="col-xs-4  text-right"
							style="padding: 0px; height: 25px; font-family: 黑体; color: #000; line-height: 25px">
							支付宝账号:</div>
						<div class="col-xs-4  text-left"
							style="padding: 0px; height: 25px;">
							<input type="text" id="zhifuNo" name="alipay"
								value='{$data.alipay}' class="form-control"
								style="height: 25px;" placeholder="">
						</div>
					</div>
					<div class="col-xs-12  " style="margin-bottom: 20px">
						<div class="col-xs-4  text-right"
							style="padding: 0px; height: 25px; font-family: 黑体; color: #000; line-height: 25px">
							微信名称:</div>
						<div class="col-xs-4  text-left"
							style="padding: 0px; height: 25px;">
							<input type="text" id="weixinname" name="wechat_name"
								value='{$data.wechat_name}' class="form-control"
								style="height: 25px;" placeholder="">
						</div>
					</div>
					<div class="col-xs-12  " style="margin-bottom: 20px">
						<div class="col-xs-4  text-right"
							style="padding: 0px; height: 25px; font-family: 黑体; color: #000; line-height: 25px">
							微信账号:</div>
						<div class="col-xs-4  text-left"
							style="padding: 0px; height: 25px;">
							<input type="text" id="weixinno" name="wechat"
								value='{$data.wechat}' class="form-control"
								style="height: 25px;" placeholder="">
						</div>
					</div>

					<div class="col-xs-12  " style="margin-bottom: 30px">
						<div class="col-xs-4  text-right"
							style="padding: 0px; height: 25px; font-family: 黑体; color: #000; line-height: 25px">
							微信密码:</div>
						<div class="col-xs-4  text-left"
							style="padding: 0px; height: 25px;">
							<input type="password" id="weixinpwd" name="pay_pwd"
								value='{$data.pay_pwd}' class="form-control"
								style="height: 25px;" placeholder="">
						</div>
					</div>
					<div class="col-xs-12 text-center "
						style="margin-bottom: 20px; color: #999">
						<small>此支付信息作为用户把在本平台的收益转出使用，请认真如实填写，我们承诺做好信息保密工作</small>
					</div>
				</div>
				<div class="form-group">
					<div class="col-xs-4 col-xs-offset-4 text-center">
						<button
							style="height: 25px; line-height: 5px; text-align: center; width: 140px; border-radius: 10px"
							type="submit" class="btn btn-sm btn-success"
							onclick="costRuleSet()">提交</button>
					</div>
				</div>
			</div>
	</div>
</div>
</div>
<script>
function costRuleSet(){
	
	
	
}

</script>