<layout name="common"/>
<meta charset="utf-8">
<style>
    .addInfoDiv {
        height: 540px;
        width: 100%;
        position: relative;
        border-radius: 20px;
        padding-top: 20px;
    }

    #deleteInfoDiv {
        height: 300px;
        position: relative;
        border-radius: 20px;
        padding-top: 15px;
    }
</style>
<style type="text/css">
    * {
        margin: 0;
        padding: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    body {
        font-family: 'Open Sans', Arial, Helvetica, Sans-serif, Verdana, Tahoma;
    }

    ul {
        list-style-type: none;
    }

    a {
        color: #b63b4d;
        text-decoration: none;
    }

    /** =======================
     * Contenedor Principal
     ===========================*/
    h1 {
        color: #FFF;
        font-size: 24px;
        font-weight: 400;
        text-align: center;
        margin-top: 80px;
    }

    h1 a {
        color: #c12c42;
        font-size: 16px;
    }

    .accordion {
        width: 100%;
        background: #FFF;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }

    .accordion .link {
        cursor: pointer;
        display: block;
        padding: 5px 15px 15px 15px;
        color: #4D4D4D;
        font-size: 14px;
        font-weight: 700;
        border: 1px solid #CCC;
        position: relative;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
        text-align: left;
        height: 30px;
    }

    .accordion li i {
        position: absolute;
        left: 12px;
        font-size: 18px;
        color: #595959;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }

    .accordion li i.fa-chevron-down {
        right: 12px;
        left: auto;
        font-size: 16px;
    }

    .accordion li.open .link {

    }

    .accordion li.open i {

    }

    .accordion li.open i.fa-chevron-down {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    /**
     * Submenu
     -----------------------------*/
    .submenu {
        display: none;
        background: #fff;
        font-size: 14px;
    }

    .submenu li {
        border: 1px solid #ccc;
        border-bottom: none;
        border-top: none;
        height: 30px;
        padding-left: 15px;
        line-height: 40px;
        position: relative;
        text-align: left;
    }

    .submenu li i.fa-pencil {
        position: absolute;
        right: 36px;
        top: 5px;
        left: auto;
        font-size: 20px;
        cursor: pointer;
    }

    .submenu li i.fa-check {
        position: absolute;
        top: 5px;
        right: 60px;
        left: auto;
        font-size: 20px;
        cursor: pointer;
    }

    .submenu li i.fa-remove {
        position: absolute;
        top: 5px;
        right: 12px;
        left: auto;
        font-size: 20px;
        cursor: pointer;
    }

    .submenu li:last-child {
        border-bottom: 1px solid #ccc;
    }

    .submenu a {
        display: block;
        text-decoration: none;
        color: #d9d9d9;
        padding: 12px;
        padding-left: 42px;
        -webkit-transition: all 0.25s ease;
        -o-transition: all 0.25s ease;
        transition: all 0.25s ease;
    }

    .submenu a:hover {
        background: #b63b4d;
        color: #FFF;
    }
</style>
<style>
    .ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
    .ui-timepicker-div dl { text-align: left; }
    .ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
    .ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
    .ui-timepicker-div td { font-size: 90%; }
    .ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
    .ui_tpicker_hour_label,.ui_tpicker_minute_label,.ui_tpicker_second_label,
    .ui_tpicker_millisec_label,.ui_tpicker_time_label{padding-left:20px}
</style>
<link href="__PUBLIC__/css/jquery-ui.css">
<script src="__PUBLIC__/js/jquery-ui.js"></script>
<script src="__PUBLIC__/js/jquery-ui-timepicker-addon.js"></script>
<div class="login-box col-md-8 col-md-offset-2 text-center"
     id="rule-box">
    <div class="login-title text-center" style="margin-bottom:50px;padding-top:20px">
        <h3>
            <img height="30px" src="__PUBLIC__/image/register/rule.png">维护停车场自动收费规则
        </h3>
    </div>
    <div class="login-content ">
        <div class="form">
            <ul id="accordion" class="accordion">
                <li style="margin-bottom:20px">
                    <div class="link">
                        默认规则<i class="fa fa-chevron-down"></i>
                    </div>
                    <ul class="submenu">
                        <li>规则1<i class="fa fa-check"></i><i class="fa fa-pencil" onclick="ruleEdit(1)"></i><i
                                class="fa fa-remove"></i>
                        </li>
                        <li>规则2<i class="fa fa-check"></i><i class="fa fa-pencil" onclick="ruleEdit(1)"></i><i
                                class="fa fa-remove"></i>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="accordion" style="">
                <li style=" text-align:center"><img src="__PUBLIC__/image/register/add1.png"
                                                    style="width:30px;height:30px;cursor:pointer" onclick="ruleAdd(1)">
                </li>
            </ul>
            <ul id="accordion1" class="accordion">
                <li style="margin-bottom:20px">
                    <div class="link">
                        工作日规则<i class="fa fa-chevron-down"></i>
                    </div>
                    <ul class="submenu">
                        <li>规则1<i class="fa fa-check"></i><i class="fa fa-pencil" onclick="ruleEdit(1)"></i><i
                                class="fa fa-remove"></i>
                        </li>
                        <li>规则2<i class="fa fa-check"></i><i class="fa fa-pencil" onclick="ruleEdit(1)"></i><i
                                class="fa fa-remove"></i>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="accordion" style="">
                <li style=" text-align:center"><img src="__PUBLIC__/image/register/add1.png"
                                                    style="width:30px;height:30px;cursor:pointer" onclick="ruleAdd(2)">
                </li>
            </ul>
            <ul id="accordion2" class="accordion">
                <li style="margin-bottom:20px">
                    <div class="link">
                        双休日规则<i class="fa fa-chevron-down"></i>
                    </div>
                    <ul class="submenu">
                        <li>规则1<i class="fa fa-check"></i><i class="fa fa-pencil" onclick="ruleEdit(1)"></i><i
                                class="fa fa-remove"></i>
                        </li>
                        <li>规则2<i class="fa fa-check"></i><i class="fa fa-pencil" onclick="ruleEdit(1)"></i><i
                                class="fa fa-remove"></i>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="accordion" style="">
                <li style=" text-align:center"><img src="__PUBLIC__/image/register/add1.png"
                                                    style="width:30px;height:30px ;cursor:pointer" onclick="ruleAdd(3)">
                </li>
            </ul>
            <ul id="accordion3" class="accordion">
                <li style="margin-bottom:20px">
                    <div class="link">
                        节日、活动日规则<i class="fa fa-chevron-down"></i>
                    </div>
                    <ul class="submenu">
                        <li>规则1<i class="fa fa-check"></i><i class="fa fa-pencil" onclick="ruleEdit(4)"></i><i
                                class="fa fa-remove"></i>
                        </li>
                        <li>规则2<i class="fa fa-check"></i><i class="fa fa-pencil" onclick="ruleEdit(4)"></i><i
                                class="fa fa-remove"></i>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="accordion" style="margin-bottom:30px">
                <li style=" text-align:center"><img src="__PUBLIC__/image/register/add1.png"
                                                    style="width:30px;height:30px;cursor:pointer" onclick="ruleAdd(4)">
                </li>
            </ul>


            <div class="form-group">
                <div class="col-xs-4 col-xs-offset-4 text-center">
                    <button
                            style="height:25px;width:140px;line-height:5px;text-align:center;border-radius:10px;background-color:#33CC33"
                            type="button" class="btn btn-sm btn-success"
                            onclick="">提交
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>
<!--删除-->
<div class="modal fade" id="deleteInfoWin" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">停车场删除</h4>
            </div>
            <div class="modal-body">
                <div id="deleteInfoDiv">
                    <div class="col-xs-12"
                         style="position:relative;top:0px;margin-bottom:65px;padding-top:60px">
                        <div class="col-xs-12  text-center"
                             style="padding:0px;height:30px;font-family:黑体;color:#f90; font-size:32px;line-height:30px"
                             id="tishi">shanchu
                        </div>
                    </div>
                    <div class="form-group form-actions"
                         style="position:relative;top:0px;margin-bottom:15px">
                        <div class="col-xs-6  text-right">
                            <button
                                    style="height:35px;line-height:5px;text-align:center;width:120px;border-radius:10px"
                                    type="button" class="btn btn-sm btn-success"
                                    data-dismiss="modal" onclick="yesBtn()">是
                            </button>
                        </div>
                        <div class="col-xs-6  text-left">
                            <button
                                    style="height:35px;line-height:5px;text-align:center;width:120px;border-radius:10px"
                                    type="button" class="btn btn-sm btn-success"
                                    data-dismiss="modal" onclick="noBtn()">否
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--添加-->
<div class="modal fade" id="addRuleInfoWin" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">收费规则添加</h4>
            </div>
            <div class="modal-body">
                <form action="{:U('Common/rule_add')}" method="post">
                    <input type="hidden" id="ruletype_id">
                    <div class="form-group addInfoDiv" id="addRuleDiv"
                         style="display:none;height:540px">
                        <div class="col-xs-12"
                             style="position:relative;top:-0;margin-bottom:15px">
                            <div class="col-xs-3  text-right"
                                 style="padding:0px;height:25px;font-family:黑体;color:#000;line-height:25px">
                                规则名称:
                            </div>
                            <div class="col-xs-9  text-left" style="padding:0px;height:25px;">
                                <input type="text" id="rulename" name="name"
                                       class="form-control" style="height:25px;line-height:25px"
                                       placeholder="">
                            </div>
                        </div>
                        <div class="col-xs-12"
                             style="position:relative;top:-0;margin-bottom:15px"
                             id="ruleTimeDiv" style="display:none">
                            规则日期： <input placeholder="请输入日期" class="laydate-icon"
                                         id="income_start_time"
                                         onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"
                                         name="start_date">
                            到 <input placeholder="请输入日期" class="laydate-icon"
                                     id="income_end_time"
                                     onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" name="end_date">

                        </div>
                        <div class="col-xs-12"
                             style="position:relative;top:-0;margin-bottom:15px">
                            <div class="col-xs-3  text-right"
                                 style="padding:0px;height:25px;font-family:黑体;color:#000;line-height:25px">
                                白天时间:
                            </div>
                            <div class="col-xs-2  text-left" style="padding:0px;height:25px;">
                                <input type="text" id="example" style="width:100%;height:25px" name="start_time_day"/>
                            </div>
                            <div class="col-xs-1  text-center"
                                 style="padding:0px;height:25px;">至
                            </div>
                            <div class="col-xs-2  text-left" style="padding:0px;height:25px;">
                                <input type="text"  style="width:100%;height:25px" name="end_time_day"/>
                            </div>
                        </div>
                        <div class="col-xs-12"
                             style="position:relative;top:-0;margin-bottom:15px">
                            <div class="col-xs-3  text-right"
                                 style="padding:0px;height:25px;font-family:黑体;color:#000;line-height:25px">
                                白天免费时长:
                            </div>
                            <div class="col-xs-9  text-left" style="padding:0px;height:25px;">
                                <div style="float:left">
                                    <select name="free_time_day_small" id="dayfreestart"  style="width: 70px;">
                                        <option value=0>0</option>
                                        <option value=1>1</option>
                                        <option value=2>2</option>
                                        <option value=3>3</option>
                                        <option value=4>4</option>
                                        <option value=5>5</option>
                                        <option value=6>6</option>
                                        <option value=7>7</option>
                                        <option value=8>8</option>
                                        <option value=9>9</option>
                                        <option value=10>10</option>
                                        <option value=11>11</option>
                                        <option value=12>12</option>
                                        <option value=13>13</option>
                                        <option value=14>14</option>
                                        <option value=15>15</option>
                                        <option value=16>16</option>
                                        <option value=17>17</option>
                                        <option value=18>18</option>
                                        <option value=19>19</option>
                                        <option value=20>20</option>
                                        <option value=21>21</option>
                                        <option value=22>22</option>
                                        <option value=23>23</option>
                                        <option value=24>24</option>
                                    </select>
                                </div>
                                <div style="float:left">(小车 小时)</div>
                                <div style="float:left">
                                    <select id="dayfreeend" name="free_time_day_big" style="width: 70px;">
                                        <option value=0>0</option>
                                        <option value=1>1</option>
                                        <option value=2>2</option>
                                        <option value=3>3</option>
                                        <option value=4>4</option>
                                        <option value=5>5</option>
                                        <option value=6>6</option>
                                        <option value=7>7</option>
                                        <option value=8>8</option>
                                        <option value=9>9</option>
                                        <option value=10>10</option>
                                        <option value=11>11</option>
                                        <option value=12>12</option>
                                        <option value=13>13</option>
                                        <option value=14>14</option>
                                        <option value=15>15</option>
                                        <option value=16>16</option>
                                        <option value=17>17</option>
                                        <option value=18>18</option>
                                        <option value=19>19</option>
                                        <option value=20>20</option>
                                        <option value=21>21</option>
                                        <option value=22>22</option>
                                        <option value=23>23</option>
                                        <option value=24>24</option>
                                    </select>
                                </div>
                                <div style="float:left">(大车 小时)</div>

                            </div>
                        </div>
                        <div class="col-xs-12"
                             style="position:relative;top:-0;margin-bottom:15px"
                             id="daySmallDiv">
                            <div class="col-xs-3  text-right"
                                 style="padding:0px;height:25px;font-family:黑体;color:#000;line-height:25px">
                                白天收费单价:
                            </div>
                            <div class="col-xs-3" style="padding:0px">小车(元/小时)
                                <img src="__PUBLIC__/image/register/add1.png"
                                     style="width:25px;height:25px;cursor:pointer;float:right;top:-2px"
                                     onclick="addSmallCar(0)">
                            </div>
                            <div class="col-xs-9 col-xs-offset-3  text-left"
                                 style="padding:0px;height:25px;display:none" id="daySmall">
                                <div style="float:left">
                                    <select id="ruledss" name="day_small_start_time[]"
                                            style="width:50px;height:25px" onchange="">
                                        <option
                                                value="1">1
                                               </option>
                                        <option value="2" selected>2</option>
                                    </select>
                                </div>
                                <div style="float:left">小时至</div>
                                <div style="float:left">
                                    <select id="ruledse" name="day_small_end_time[]"
                                            style="width:50px;height:25px" onchange="">
                                        <option
                                                value="1">1
                                        </option>
                                        <option value="2" selected>2</option>
                                    </select>
                                </div>
                                <div style="float:left">小时</div>
                                <div style="float:left">
                                    <input type="text" id="costds" name="day_small_fee" class=""
                                           style="height:26px;line-height:26px ;width:50px"
                                           placeholder="">
                                </div>
                                <div style="float:left">元(小车/小时)</div>
                                <div style="float:left">
                                    <img src="__PUBLIC__/image/register/delete.png"
                                         style="width:25px;height:25px;cursor:pointer"
                                         onclick="removeCar(this)">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12"
                             style="position:relative;top:-0;margin-bottom:15px"
                             id="dayLargeDiv">
                            <div class="col-xs-3 col-xs-offset-3" style="padding:0px">大车(元/小时)
                                <img src="__PUBLIC__/image/register/add1.png"
                                     style="width:25px;height:25px;cursor:pointer;float:right;top:-2px"
                                     onclick="addLargeCar(0)">
                            </div>
                            <div class="col-xs-9 col-xs-offset-3 text-left"
                                 style="padding:0px;height:25px;display:none" id="dayLarge">
                                <div style="float:left">
                                    <select id="ruledls" name="day_big_start_time[]"
                                            style="width:50px;height:25px" onchange="">
                                        <option
                                                value="1">1
                                        </option>
                                        <option value="2" selected>2</option>
                                    </select>
                                </div>
                                <div style="float:left">小时至</div>
                                <div style="float:left">
                                    <select id="ruledle" name="day_big_end_time[]"
                                            style="width:50px;height:25px" onchange="">
                                        <option
                                                value="1">1
                                        </option>
                                        <option value="2" selected>2</option>
                                    </select>
                                </div>
                                <div style="float:left">小时</div>
                                <div style="float:left">
                                    <input type="text" id="costdl" name="day_big_fee" class=""
                                           style="height:25px;line-height:25px ;width:50px"
                                           placeholder="">
                                </div>
                                <div style="float:left">元(大车/小时)</div>
                                <div style="float:left">
                                    <img src="__PUBLIC__/image/register/delete.png"
                                         style="width:25px;height:25px;cursor:pointer"
                                         onclick="removeCar(this)">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12"
                             style="position:relative;top:-0;margin-bottom:15px">
                            <div class="col-xs-3  text-right"
                                 style="padding:0px;height:25px;font-family:黑体;color:#000;line-height:25px">
                                夜晚时间:
                            </div>
                            <div class="col-xs-2  text-left" style="padding:0px;height:25px;">
                                <input type="text" name="start_time_night" style="width:100%;height:25px">
                            </div>
                            <div class="col-xs-1  text-center"
                                 style="padding:0px;height:25px;">至
                            </div>
                            <div class="col-xs-2  text-left" style="padding:0px;height:25px;">
                                <input type="text" name="end_time_night" style="width:100%;height:25px">
                            </div>
                        </div>
                        <div class="col-xs-12"
                             style="position:relative;top:-0;margin-bottom:15px">
                            <div class="col-xs-3  text-right"
                                 style="padding:0px;height:25px;font-family:黑体;color:#000;line-height:25px">
                                夜晚免费时长:
                            </div>
                            <div class="col-xs-9   text-left"
                                 style="padding:0px;height:25px;">
                                <div style="float:left">
                                    <select id="nightfreestart" name="free_time_night_small" style="width: 70px;">
                                        <option value=0>0</option>
                                        <option value=1>1</option>
                                        <option value=2>2</option>
                                        <option value=3>3</option>
                                        <option value=4>4</option>
                                        <option value=5>5</option>
                                        <option value=6>6</option>
                                        <option value=7>7</option>
                                        <option value=8>8</option>
                                        <option value=9>9</option>
                                        <option value=10>10</option>
                                        <option value=11>11</option>
                                        <option value=12>12</option>
                                        <option value=13>13</option>
                                        <option value=14>14</option>
                                        <option value=15>15</option>
                                        <option value=16>16</option>
                                        <option value=17>17</option>
                                        <option value=18>18</option>
                                        <option value=19>19</option>
                                        <option value=20>20</option>
                                        <option value=21>21</option>
                                        <option value=22>22</option>
                                        <option value=23>23</option>
                                        <option value=24>24</option>
                                    </select>
                                </div>
                                <div style="float:left">(小车 小时)</div>
                                <div style="float:left">
                                    <select id="nightfreeend" name="free_time_night_big" style="width: 70px;">
                                        <option value=0>0</option>
                                        <option value=1>1</option>
                                        <option value=2>2</option>
                                        <option value=3>3</option>
                                        <option value=4>4</option>
                                        <option value=5>5</option>
                                        <option value=6>6</option>
                                        <option value=7>7</option>
                                        <option value=8>8</option>
                                        <option value=9>9</option>
                                        <option value=10>10</option>
                                        <option value=11>11</option>
                                        <option value=12>12</option>
                                        <option value=13>13</option>
                                        <option value=14>14</option>
                                        <option value=15>15</option>
                                        <option value=16>16</option>
                                        <option value=17>17</option>
                                        <option value=18>18</option>
                                        <option value=19>19</option>
                                        <option value=20>20</option>
                                        <option value=21>21</option>
                                        <option value=22>22</option>
                                        <option value=23>23</option>
                                        <option value=24>24</option>
                                    </select>
                                </div>
                                <div style="float:left">(大车 小时)</div>

                            </div>
                        </div>
                        <div class="col-xs-12"
                             style="position:relative;top:-0;margin-bottom:15px"
                             id="nightSmallDiv">
                            <div class="col-xs-3  text-right"
                                 style="padding:0px;height:25px;font-family:黑体;color:#000;line-height:25px">
                                夜晚收费单价:
                            </div>
                            <div class="col-xs-3" style="padding:0px">小车(元/小时)
                                <img src="__PUBLIC__/image/register/add1.png"
                                     style="width:25px;height:25px;cursor:pointer;float:right;top:-2px"
                                     onclick="addSmallCar(1)">
                            </div>
                            <div class="col-xs-9 col-xs-offset-3  text-left"
                                 style="padding:0px;height:25px;display:none" id="nightSmall">
                                <div style="float:left">
                                    <select id="rulenss" name="night_small_start_time[]"
                                            style="width:50px;height:25px" onchange="">
                                        <option
                                                value="1">1
                                        </option>
                                        <option value="2" selected>2</option>
                                    </select>
                                </div>
                                <div style="float:left">小时至</div>
                                <div style="float:left">
                                    <select id="rulense" name="night_small_end_time[]"
                                            style="width:50px;height:25px" onchange="">
                                        <option
                                                value="1">1
                                        </option>
                                        <option value="2" selected>2</option>
                                    </select>
                                </div>
                                <div style="float:left">小时</div>
                                <div style="float:left">
                                    <input type="text" id="costns" name="night_small_fee[]" class=""
                                           style="height:25px;line-height:25px ;width:50px"
                                           placeholder="">
                                </div>
                                <div style="float:left">元(小车/小时)</div>
                                <div style="float:left">
                                    <img src="__PUBLIC__/image/register/delete.png"
                                         style="width:25px;height:25px;cursor:pointer"
                                         onclick="removeCar(this)">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12"
                             style="position:relative;top:-0;margin-bottom:35px"
                             id="nightLargeDiv">
                            <div class="col-xs-3 col-xs-offset-3" style="padding:0px">大车(元/小时)
                                <img src="__PUBLIC__/image/register/add1.png"
                                     style="width:25px;height:25px;cursor:pointer;float:right;top:-2px"
                                     onclick="addLargeCar(1)">
                            </div>
                            <div class="col-xs-9 col-xs-offset-3 text-left"
                                 style="padding:0px;height:25px;display:none" id="nightLarge">
                                <div style="float:left">
                                    <select id="rulenls" name="night_big_start_time[]"
                                            style="width:50px;height:25px" onchange="">
                                        <option
                                                value="1">1
                                        </option>
                                        <option value="2" selected>2</option>
                                    </select>
                                </div>
                                <div style="float:left">小时至</div>
                                <div style="float:left">
                                    <select id="rulenle" name="night_big_end_time[]"
                                            style="width:50px;height:25px" onchange="">
                                        <option
                                                value="1">1
                                        </option>
                                        <option value="2" selected>2</option>
                                    </select>
                                </div>
                                <div style="float:left">小时</div>
                                <div style="float:left">
                                    <input type="text" id="costnl" name="night_big_fee[]" class=""
                                           style="height:25px;line-height:25px ;width:50px"
                                           placeholder="">
                                </div>
                                <div style="float:left">元(大车/小时)</div>
                                <div style="float:left">
                                    <img src="__PUBLIC__/image/register/delete.png"
                                         style="width:25px;height:25px;cursor:pointer"
                                         onclick="removeCar(this)">
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-actions"
                             style="position:relative;top:-0;margin-bottom:15px">
                            <div class="col-xs-4 col-xs-offset-4 text-left">
                                <button
                                        style="height:25px;line-height:5px;text-align:center;width:100%;border-radius:10px;background-color:#33CC33"
                                        type="button" class="btn btn-sm btn-success"
                                        onclick="ruleAddComplete()" data-dismiss="modal">完成
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    //收费规则确认
    function ruleConfirm(flag) {
        if (flag == 1) {
            //是其他规则不可选定
            $("#confirmDiv2").css("display", "none");
            $("#confirmDiv3").css("display", "none");
            $("#confirmDiv4").css("display", "none");
            //后台操作
        } else {
            //后台操作
        }
    }
    //收费规则添加
    function ruleAdd(flag) {
        if (flag == 4) {
            $('#addRuleInfoWin').modal();
            $("#addRuleDiv").css("display", "block");
            $("#ruleTimeDiv").css("display", "block");
        } else {
            $('#addRuleInfoWin').modal();
            $("#addRuleDiv").css("display", "block");
            $("#ruleTimeDiv").css("display", "none");
        }
        $('#ruletype_id').val(flag);
    }
    function ruleAddComplete() {
        //关闭div
        $("#addRuleDiv").css("display", "none");
    }
    //收费规则编辑
    function ruleEdit(flag) {
        if (flag == 4) {
            $('#addRuleInfoWin').modal();
            $("#addRuleDiv").css("display", "block");
            $("#ruleTimeDiv").css("display", "block");
        } else {
            $('#addRuleInfoWin').modal();
            $("#addRuleDiv").css("display", "block");
            $("#ruleTimeDiv").css("display", "none");
        }
        //后台操作，结束后跳转到管理，显示刚才注册的所有信息
    }
    //收费规则删除
    function ruleDelete(flag) {
        //后台操作

        //后台操作，更新select
        $('#deleteInfoWin').modal();
        $("#tishi").html("确定要删除此规则吗?");	//后台操作，更新select

    }
    //添加小车收费规则 0白天 1夜晚
    function addSmallCar(flag) {
        if (flag == 0) {
            $("#daySmallDiv").append($("#daySmall").clone().css("display", 'block'));
            //alert($("#addRuleDiv").height());
            $("#addRuleDiv").css("height", $("#addRuleDiv").height() + 30);
        } else {
            $("#nightSmallDiv").append($("#nightSmall").clone().css("display", 'block'));
            //alert($("#addRuleDiv").height());
            $("#addRuleDiv").css("height", $("#addRuleDiv").height() + 30);
        }

    }
    //删除小车
    function removeCar(flag) {
        $(flag).parent().parent().remove();

    }
    //添加大车收费规则
    function addLargeCar(flag) {
        if (flag == 0) {
            $("#dayLargeDiv").append($("#dayLarge").clone().css("display", 'block'));
            $("#addRuleDiv").css("height", $("#addRuleDiv").height() + 30);
        } else {
            $("#nightLargeDiv").append($("#nightLarge").clone().css("display", 'block'));
            $("#addRuleDiv").css("height", $("#addRuleDiv").height() + 30);
        }
    }
    function registerComplete() {
        //后台操作，结束后跳转到管理，显示刚才注册的所有信息
        alert("注册结束！");
        window.location.href = "login.html";
    }
    $(function () {
        var Accordion = function (el, multiple) {
            this.el = el || {};
            this.multiple = multiple || false;

            // Variables privadas
            var links = this.el.find('.link');
            // Evento
            links.on('click', {el: this.el, multiple: this.multiple}, this.dropdown);
        };

        Accordion.prototype.dropdown = function (e) {
            var $el = e.data.el;
            $this = $(this),
                    $next = $this.next();

            $next.slideToggle();
            $this.parent().toggleClass('open');

            if (!e.data.multiple) {
                $el.find('.submenu').not($next).slideUp().parent().removeClass('open');
            }
            ;


        };

        var accordion = new Accordion($('#accordion'), false);
        var accordion1 = new Accordion($('#accordion1'), false);
        var accordion2 = new Accordion($('#accordion2'), false);
        var accordion3 = new Accordion($('#accordion3'), false);
        $(".fa-check").each(function (index, element) {
            $(this).click(function () {
                $(".fa-check").css("color", "#000");
                $(this).css("color", "green");
                //	$(this).parent().parent().slideUp();
            });
        });
        $(".fa-remove").each(function (index, element) {
            $(this).click(function () {
                ruleDelete();
            });
        });
    });

</script>
<script type="text/javascript">
    $(function(){
        $('#example').timepicker({});
    });
</script>