@charset "utf-8";
/*========= S LOGO ========*/
.logo {
	width: 210px;
	height: 50px;
	padding: 5px 0 5px 0;
}

.logo span {
	color: #922D29;
	font: bold 25px tahoma, Geneva, sans-serif;
	position: relative;
	top: 6px;
	left: 10px;
}
/*========= E LOGO ========*/

.nav_selected{
	background: #0066FF;
}

