@charset "utf-8";

.is_show{
	display: none;
}

.float_panel_con{
	 width: 490px; height: 240px; position: absolute; right: 80px; top: 90px;background: #fff;border: 1px solid #ddd;
}

.float_panel{
	height: 85px;width: 150px;padding: 5px 10px 5px 20px;cursor: pointer;
}

.float_panel_notSel{
	background-color: #ccc;
}

.float_panel_sel{
	background-color: #0066FF;
}

.float_panel span{
	font-weight: bolder;font-size: 20px;display: inline-block;vertical-align: bottom;
}

.float_panel_left{
	float: left;
}
.float_panel_right{
	float: right;
}